@model LibData.Role
@{
    ViewBag.Title = "Sửa Role";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<!-- summernote -->
<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Sửa quyền</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin quyền</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="javascript:EditRole()" id="formEditRole">
                            @Html.HiddenFor(x => x.Id)
                            <div class="form-group">
                                <label for="HoTen">Tên quyền</label>
                                <input type="text" id="Rolename" name="Rolename" class="form-control" value="@Model.Rolename" required maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Mã quyền</label>
                                <input type="text" id="Rolecode" name="Rolecode" class="form-control" value="@Model.Rolecode" required maxlength="100">
                            </div>
                            <button type="submit" id="btnsmit" class="d-none"></button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-secondary" onclick="$('#formEditRole').trigger('reset');">Hủy</button>
                <button type="button" onclick="$('#btnsmit').click()" class="btn btn-success float-right">Sửa quyền</button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        function EditRole() {
            var formData = new FormData(document.getElementById('formEditRole'));
            $.ajax({
                url: '/Role/SuaRole',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                traditional: true,
                type: 'POST',
                success: function (data) {
                    //var data = JSON.parse(content)
                    if (data.status == 200) {
                        toastThanhCong(data.msg)
                    }
                    else {
                        toastThatBai(data.msg)
                    }

                }
            });
        }
    </script>
}