@model LibData.NhanVien
@{
    ViewBag.Title = "Đổi mật khẩu người dùng";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<!-- summernote -->
<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Đổi mật khẩu người dùng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Đổi mật khẩu người dùng</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="javascript:EditUser()" id="formEditUser">
                            @Html.Hidden("Id", Model.Id)
                            <div class="form-group">
                                <label for="HoTen">Mật khẩu hiện tại</label>
                                <input type="password" id="OldPassword" name="OldPassword" class="form-control" maxlength="20" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Mật khẩu mới</label>
                                <input type="password" id="NewPassword" name="NewPassword" class="form-control" maxlength="20" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Nhập lại mật khẩu mới</label>
                                <input type="password" id="reNewPassword" name="reNewPassword" class="form-control" maxlength="20" required>
                            </div>
                            <button type="submit" id="btnsmit" class="d-none"></button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-secondary" onclick="$('#formEditUser').trigger('reset');">Hủy</button>
                <button type="button" onclick="$('#btnsmit').click()" class="btn btn-success float-right">Lưu</button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        //Initialize Select2 Elements
        $('.select2bs4-mul').select2({
            theme: 'bootstrap4'
        })
        function EditUser() {
            var formData = new FormData(document.getElementById('formEditUser'));
            $.ajax({
                url: '/Account/ChangePassword',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                traditional: true,
                type: 'POST',
                success: function (data) {
                    //var data = JSON.parse(content)
                    if (data.status == 200) {
                        toastThanhCong(data.msg)
                        window.location.href = "/"
                    }
                    else {
                        toastThatBai(data.msg)
                    }

                }
            });
        }
    </script>
}