
@{
    Layout = null;
}

<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>096 430 2628</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Thứ 2-7: 11h - 23h</span></i>
        </div>

        <div class="languages d-none d-md-flex align-items-center">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>