
@{
    ViewBag.Title = "Thêm bàn ăn";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<!-- summernote -->
<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Thêm bàn ăn</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin bàn ăn</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="javascript:AddBanAn()" id="formAddBanAn">
                            <div class="form-group">
                                <label for="HoTen">Tên bàn ăn</label>
                                <input type="text" id="TenBan" name="TenBan" class="form-control" maxlength="50" required>
                            </div>

                            <div class="form-group">
                                <label for="TinhTrang">Tình trạng</label>
                                <select class="form-control" name="TinhTrang" id="TinhTrang">
                                    <option value="1">Bàn trống</option>
                                    <option value="2">Bàn bận</option>
                                    <option value="3">Bàn đặt</option>
                                    <option value="4">Bàn hỏng</option>
                                </select>
                            </div>

                            <button type="submit" id="btnsmit" class="d-none"></button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-secondary" onclick="$('#formAddBanAn').trigger('reset');">Hủy</button>
                <button type="button" onclick="$('#btnsmit').click()" class="btn btn-success float-right">Thêm bàn ăn</button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //Initialize Select2 Elements
        $('.select2bs4-mul').select2({
            theme: 'bootstrap4'
        })
        function AddBanAn() {
            var formData = new FormData(document.getElementById('formAddBanAn'));
            $.ajax({
                url: '/BanAn/ThemBanAn',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                traditional: true,
                type: 'POST',
                success: function (data) {
                    //var data = JSON.parse(content)
                    if (data.status == 200) {
                        toastThanhCong(data.msg)
                    }
                    else {
                        toastThatBai(data.msg)
                    }

                }
            });
        }
    </script>
}